/*Config*/
@import "../static/config/reset.css";

/*header*/
@import "header.css";

/*footer*/
@import "footer.css";

/*login*/
@import "login.css";


* {
    font-family: 'Gowun Dodum', sans-serif;
}

.myPost{
            background-color: white;
            max-width: 1000px;
            width: 95%;

            border : 2px gray;
            margin: 20px auto 0px auto;
            padding: 10px;
            box-shadow: 0px 0px 3px 0px gray;

            display: none;

        }
.shareButton{
            float: right;
            position: relative;
            bottom: 40px;


        }
.cards>.picture-box{


            width: 200px;
            height: 200px;
            float :left;
        }
.cards>.card{
            max-width: 1000px;

            height: 200px;

        }
.cards{


            height: 200px;
            max-width: 1000px;
            width: 95%;


            margin: 50px auto 0px auto;



        }


.page-box{
    min-width: 300px;
    max-width: 1000px;

    margin: 10px auto 0px auto;

}
.pagination{
    float : right;
}
.img{
    background-color: black;

    width: 200px;
    height: 200px;


}

.id-text{
    float:right;
    color: aquamarine;
}
.empty-box{
    height: 10px;
}
.more-contents-button{
    width: 1000px;
    margin: 30px auto 0 auto;


    display: flex; /*가운데로 옮기는 애들 */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

