<nav class="nav">
    <ul class="nav_list">

        <li class="home_btn">
            <a href="/">
                <i class="fab fa-soundcloud"><span class="song_c">_Song&C</span></i>
            </a>
        </li>

        <div class="nav_list_buttons">

            <li class=" nav_list_btn">
                <a href="/signup">
                    <button class="join_btn">Singup</button>
                </a>

            </li>

            <li class="login_btn nav_list_btn">
                <a href="/login">
                    <button class="login_btn">Login</button>
                </a>

            </li>

            <li class="myprofile_btn nav_list_btn">
                <a href="mypage">
                    <button class="myprofile_btn">Mypage</button>
                </a>
            </li>

        </div>


    </ul>
</nav>