<script>
    $(document).ready(function () {
        check_cookie()
    });

    function check_cookie() {
        let cookie = $.cookie('mytoken')
        if (cookie) {
            $('#login').css("display", "none");
        } else {
            $('#logout').css("display", "none");
            $('#my').css("display", "none");
        }
    }
</script>

<div>

    <div>
        <a class='main' href="/" style="text-decoration: none">
            Song & C
        </a>
    </div>

    <div class=login_button>
        <button  id="login" type="button" onclick=" window.location.href ='/login'" class="btn btn-outline-secondary">login</button>
    </div>

    <div class=login_button>
        <button id="logout" type="button" onclick=" window.location.href ='/mypage'" class="btn btn-outline-secondary">mypage</button>
    </div>

    <div class=login_button>
        <button id="my" type="button" onclick=" window.location.href ='/'" class="btn btn-outline-secondary">logout</button>
    </div>

</div>


<div class="myTitle">
    <h1>Song & C</h1>
</div>

