<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>log in page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <style>
        .title {
             position: absolute;
            top:50%;
            left:50%;
            margin-top: -200px;
            margin-left: -80px;
        }
       .box {
           position: absolute;
            top:50%;
            left:50%;
            width:500px;
            height: 250px;
            margin-left: -250px;
            margin-top: -150px;
       }
    </style>

</head>
<body>
<section class="hero is-danger is-halfheight">
    <div class="hero-body">
        <div class="">
            <p class="title">
                Song & C
            </p>
            <p class="subtitle">
            <form class="box">
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input class="input" type="email" placeholder="e.g. alex@example.com">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input class="input" type="password" placeholder="********">
                    </div>
                </div>

                <button class="button is-primary">로그인</button>
            </form>
            </p>
        </div>
    </div>
</section>


</body>
</html>